.hero {
    background-image: url('https://images.unsplash.com/photo-1519505907962-0a6cb0167c73?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGd5bSUyMHRyYWluaW5nfGVufDB8fDB8fHww');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-paragraph {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007BFF; /* Primary color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
}

.hero button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
    transform: scale(1.05);
}

.hero button:focus {
    outline: none;
}