@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.subheader {
  background-color: #000080;
  color: white;
  padding: 10px;
  text-align: center;
}