/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.main-header{
  font-size: 36px;
  text-align: center;

}

.title {
  font-size: 60px;
  font-weight: bold;
  color: #333;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paragraph{
  font-size: 12px ;
  color: navy;
  text-align: center ;
}


.navbar {
display: flex;
flex-direction: column;
align-items: center;
background-color:navy;
padding: 10px;
border: 2px grey;
width: 100%;
height: 75px;
margin: auto;
}

.logo-container {
  margin-bottom:20px;
  margin: auto;
}

.logo{
  width: 400px;
  height: auto;
  margin: auto;
  padding: 20px;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navbar-item {
  margin: 0 20px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
}

.navbar-link:hover {
  color: #ccc;
  text-decoration: underline;
  transform: scale(1.1);
}

.service-card {
  width: 400px;
  height: 500px;
  position: relative;
  perspective: 1000px;
  margin: 2px;
}

.service-card .front,
.service-card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid navy;
  border-radius: 10px;
  background-color: white; /* Add this line to change the background color to blue */
  backface-visibility: hidden;
  transition: transform 0.6s; /* Add this line to animate the flip */
}

.service-card .back {
  transform: rotateY(180deg);
}

.service-card.flipped .front {
  transform: rotateY(180deg);
}

.service-card.flipped .back {
  transform: rotateY(0);
}

.services-list {
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.contact-form label{
  margin-bottom: 10px;
}
.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  border: 2px solid navy;
}

contact-form textarea {
  height: 100px;
  resize: none;
}

.contact-form button {
  padding: 10px;
  background-color: navy; /* This is a green color, you can change it to any color you like */
  color: white;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: rgb(17, 17, 131); /* Change the color to a darker shade of green */
}

.send-email-button{
  margin-top: 10px;
}

.form-title {
  font-size: 20px; /* Adjust this value to increase or decrease the font size */
  font-weight: bold; /* Makes the text bold */
  margin-bottom: 10px; /* Adds some space below the title */
  text-align: center; /* Centers the text */

}

footer {
  width: 100%;
  background-color: navy;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 300px;
}